<div class="row mt-3" style="justify-content: center;">
  <div *ngIf="maxall" class="col-sm-2">
    <ul class="mat-elevation-z8 list-group">
      <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
      <li class="list-group-item">Repositories</li>
      <li class="list-group-item">Code</li>
      <li class="list-group-item">Issues</li>
      <li class="list-group-item">Discussions</li>
      <li class="list-group-item">Packages</li>
      <li class="list-group-item">Marketplace</li>
      <li class="list-group-item">Topics</li>
      <li class="list-group-item">Wikis</li>
      <li class="list-group-item">Users</li>
    </ul>

    <ul class="mat-elevation-z8 list-group mt-3">
      <li class="list-group-item disabled" aria-disabled="true">Languages</li>
      <li class="list-group-item">javascript</li>
      <li class="list-group-item">Html</li>
      <li class="list-group-item">Java</li>
      <li class="list-group-item">python</li>
      <li class="list-group-item">CSS</li>
      <li class="list-group-item">PHP</li>
      <li class="list-group-item">C#</li>
      <li class="list-group-item">Ruby</li>
      <li class="list-group-item">Typescript</li>
      <li class="list-group-item">C++</li>
    </ul>
  </div>
  <div class="table_position col-sm-8">
    <div *ngIf="maxall" class="mat-elevation-z8 table-responsive table-container table_display">
      <table mat-table [dataSource]="dataSource" class="col-sm-6">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> <h3 style="font-size: larg;">{{maxall}} results found </h3></th>
          <td mat-cell *matCellDef="let element">
            <div class="col-6 px-2">
              <img [src]="element.owner.avatar_url | image | async" class="image" alt="user profile picture">
            </div>
            <a href="{{element.html_url}}">
              <span class="d-flex" style="color: blue; font-size: 15px;">{{element.full_name}}</span>
            </a>
            <span class="d-flex mb-3" *ngIf="element.description">{{element.description}}</span>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip style="font-size: 12px;background-color: rgb(127, 127, 241);" *ngFor="let topic of element?.topics"  selected>
                {{topic}}
              </mat-chip>
            </mat-chip-list>
            <span *ngIf="element.stargazers_count"><mat-icon>star_border</mat-icon>{{((element.stargazers_count)/1000).toFixed(1)}}k&nbsp;&nbsp;&nbsp;</span>
            <span *ngIf="element.language">{{element.language}}&nbsp;&nbsp;&nbsp;</span>
            <span *ngIf="element.updated_at">Updated on {{element.updated_at | date: 'mediumDate'}}&nbsp;&nbsp;&nbsp;</span>
          </td> 
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[30,60]"
                      [length] = "maxall"
                      (page)="onPageFired($event)"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
