

.table-container {
    width: 80%;
  
  }


  table {
    width: 80%;
    min-width: 900px;
    overflow-x: scroll;
  }
  
  /* th, td {
    text-align: center !important;
    text-transform: capitalize;
    padding: 10px !important;
    overflow-wrap: break-word;
  } */
  td {
    page-break-inside: avoid;
  }
  
  .mat-header-cell, .mat-sort-header {
    color: black;
  }
  
  ::ng-deep .mat-sort-header-arrow {
    transform: none !important;
    opacity: 1 !important;
    color: white !important;
  }

  .image {
    width: 20%;
    border-radius: 50%;
  }