/* .inventory-body {
    position: fixed;
    min-width: 100%;
    background-image: url('../assets/img/istockphoto-1216628493-170667a.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
} */


