<!-- <body class="inventory-body"> -->
  
  <!-- <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid ml-5">
      <a class="navbar-brand" href="#">Search Hub</a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
          <a class="nav-link" href="features">Features</a>
          <a class="nav-link" href="pricing">Pricing</a>
        </div>
        <span (click)="reload()" class="text-white cursor_pointer">Back</span>
      </div>
    </div>
  </nav> -->

  <!-- <app-search *ngIf="data.length == 0" (searchName)="getName($event)" (userDetail)="handleResults($event)" class="search-form"></app-search>
  
  <app-user-list *ngIf="data.length != 0" [name]="name" [maxall]="count" [dataSource]="data" class="mt-5"></app-user-list> -->

<!-- </body> -->
<!-- <app-search></app-search> -->
<!-- <app-user-list></app-user-list> -->
<!-- <router-outlet></router-outlet> -->
<app-navbar></app-navbar>
<div >
  <router-outlet></router-outlet>
</div>

